Repository dankimjw/PrepSense: changes, and which pre-commit hooks are due for each by the changed paths.
All: spectral-oas, react-native-typecheck, generate-api-docs, bundle-size-check

Path conditions:
  spectral-oas: any of: .*\.(json|yaml|yml)$
  react-native-typecheck: any of: ^ios-app/.*\.(ts|tsx)$
  generate-api-docs: any of: ^backend_gateway/.*\.py$
  bundle-size-check: any of: ^ios-app/(components|app|services|utils)/.*\.(js|jsx|ts|tsx)$

feat: Move 5-second long press timer from bottom tab to quick start recipes button
  ios-app/app/(tabs)/_layout.tsx
  ios-app/components/home/QuickActionsFixed.tsx
Due: react-native-typecheck, bundle-size-check

fix: Recipe card ID resolution and image loading issues
  docs/flows/recipe-cards-flow.md
  ios-app/components/recipes/AnimatedRecipeCard.tsx
  ios-app/components/recipes/AnimatedSavedRecipeCard.tsx
  ios-app/components/recipes/RecipesList.tsx
Due: react-native-typecheck, bundle-size-check

fix: GitHub Actions workflow JSON parsing error
  .github/workflows/ci-cd-comprehensive.yml
Due: spectral-oas

debug: Add console logging and improve long press implementation
  ios-app/components/home/QuickActionsFixed.tsx
Due: react-native-typecheck, bundle-size-check

feat: unify recipe detail navigation to use RecipeDetailCardV3
  ios-app/app/(tabs)/chat.tsx
  ios-app/components/recipes/RecipesList.tsx
  ios-app/components/recipes/RecipesListOptimized.tsx
Due: react-native-typecheck, bundle-size-check

feat: Update chat recipe modals to match exact Spoonacular design
  ios-app/app/(tabs)/chat.tsx
  ios-app/app/chat-modal.tsx
Due: react-native-typecheck, bundle-size-check

feat: Enhance chat recipe cards and modals to match Spoonacular design
  backend_gateway/routers/chat_router.py
  backend_gateway/services/recipe_enrichment_service.py
  backend_gateway/services/user_recipes_service.py
  ios-app/app/(tabs)/chat.tsx
Due: react-native-typecheck, generate-api-docs, bundle-size-check

Update README.md
  README.md
Due: none

refactor: organize documentation files into appropriate directories
  docs/FEATURE_DOCUMENTATION.md
  docs/FOOD_CATEGORIZATION_SYSTEM.md
  docs/TEST_PLAN.md
  docs/UPDATES_LOG.md
  pantry-update-test-results.md
  test-item-update.md
Due: none

Update chat_modal_recipe_flows.md
  docs/Data Flows/chat_modal_recipe_flows.md
Due: none

chore: clean up iOS app documentation and update gitignore
  ios-app/.claude
  ios-app/.gitignore
  ios-app/docs/AI_BULK_EDIT_BACKEND.md
  ios-app/docs/ANIMATION_IMPROVEMENT_GUIDE.md
  ios-app/docs/HYBRID_MIGRATION_GUIDE.md
  ios-app/docs/MODULAR_ARCHITECTURE.md
  ios-app/docs/backlog.md
Due: none

chore: remove internal documentation and update gitignore
  .gitignore
  docs/TEAM_SETUP_GUIDE.md
  docs/WORKTREE_CLAUDE_SETUP.md
  docs/backend_CLAUDE.md
  docs/prompt-engineer.md
Due: none

chore: remove MCP backup file and update gitignore
  .gitignore
  .mcp.json.backup
Due: none

feat: add repository health check and cleanup scripts
  .gitignore
  .pre-commit-config.yaml
  backend_gateway/core/monitoring.py
  scripts/cleanup_cache.py
  scripts/repo_health_check.py
Due: spectral-oas, generate-api-docs

fix: formatting and import order in monitoring.py, update notebook dependencies
  backend_gateway/core/monitoring.py
  notebooks/Image_to_pantry-v4.ipynb
Due: generate-api-docs

Fix OCR service import errors by adding missing waste_reduction_agent module
  backend_gateway/agents/waste_reduction_agent.py
  backend_gateway/services/ocr_service.py
  backend_gateway/services/vision_service.py
Due: generate-api-docs

Add missing sustainability_coach_agent module to fix import errors
  backend_gateway/agents/sustainability_coach_agent.py
Due: generate-api-docs

Enhance VisionService to detect individual items without deduplication
  backend_gateway/services/vision_service_backup_2025_08_10.py
  ios-app/app/(tabs)/recipes.tsx
Due: react-native-typecheck, generate-api-docs, bundle-size-check

Clean up documentation structure and update public API docs
  .gitignore
  cleaner-agent.json
  docs/public/FEATURE_DOCUMENTATION.md
  docs/public/api/5.2_Local_Storage_and_Caching_Strategy.md
  docs/public/api/Doc_Code_Quality_Tools.md
  docs/public/api/Doc_Start_Here.md
  docs/public/getting-started/06-troubleshooting.md
Due: spectral-oas

Remove all CrewAI/agent files and clean up repository
  .gitignore
  .health_check_results.json
  backend_gateway/agents/sustainability_coach_agent.py
  backend_gateway/agents/waste_reduction_agent.py
  phase2_analysis_results.json
  scripts/disable_crewai_temporarily.py
  scripts/fix_crewai_imports.py
Due: spectral-oas, generate-api-docs

Revert "Remove all CrewAI/agent files and clean up repository"
  .gitignore
  .health_check_results.json
  backend_gateway/agents/sustainability_coach_agent.py
  backend_gateway/agents/waste_reduction_agent.py
  phase2_analysis_results.json
  scripts/disable_crewai_temporarily.py
  scripts/fix_crewai_imports.py
Due: spectral-oas, generate-api-docs

Clean up root directory - remove temporary files
  .health_check_results.json
  phase2_analysis_results.json
Due: spectral-oas

Update .gitignore to exclude temporary and local files
  .gitignore
Due: none

chore: apply pre-commit hook fixes
  .gitignore
  backend_gateway/services/vision_service.py
  backend_gateway/services/vision_service_backup_2025_08_10.py
  ios-app/app/(tabs)/recipes.tsx
Due: react-native-typecheck, generate-api-docs, bundle-size-check
